:root {
    --black: #000000;
    --white: #EFECE3;
    --dark-blue: #4A70A9;
    --light-blue: #8FABD4;
}
body {
    height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header,
footer {
    color: var(--white);
    background-color: var(--dark-blue);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
}
.cell {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}